<h2>Please,check in your order: </h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Price</th>
			<th>Qty.</th>
			<th>Summa</th>
		</tr>
	</thead>
	<tbody>
		<% itSumma = 0 %>
		<% @hh_order.each do |key,value| %>
		<% product_ = Product.find(key) %>
		<% price = product_['price'] %>
		<% summa = value * price %>
		<% itSumma = itSumma + summa %>
		<tr>
			<td><%= product_['title'] %></td>
			<td><%= price %></td>
			<td><%= value %></td>
			<td><%= summa %></td>
		</tr>

		<% end %>	

		<tr>
			<td></td><td></td><td></td>
			<td><strong><%= itSumma %></strong></td>
		</tr>				
	</tbody>
</table>

<div>
	<div class="container">  
		<div class="row">
			<div class="col-md-7">
				<h3 class="text-right">if you agree, please press Next to confirm the order:</h3>
			</div>
			<div class="col-md-2">
				<form action="/order" method="post">
					<input id="next_button" type="submit" class="btn btn-success btn-block" value="Next">	
				</form>
			</div>
			<div class="col-md-3">
			</div>
		</div>
		<hr>
	</div>
</div>
