<h2>Wellcome to Pizza Shop!</h2>

<div class="container">  
	<div class="row">		
		<% @products.each do |p| %>
			<% if p.id.odd? %>
				<div class="col-md-4 bg-success">	
			<% else %>
				<div class="col-md-4 bg-warning">
			<% end %>
				<h4 class="text-center"><%= p.title %></h4>
				<div class="row">
					<div class="col-md-6">	
						<ul>
  							<li>size: <%= p.size %> cm</li>
  							<li>price: <%= p.price %> rub</li>
  							<% if p.is_spicy %>
								<li><strong>spicy!</strong></li>		
							<% end %>
							<% if p.is_veg %>
								<li><strong>veg!</strong></li>	
							<% end %>
						</ul>	

						<div class="row">
							<div class="col-md-6">
							<button class="btn btn-success btn-sm btn-block" onclick="add_to_cart(<%= p.id %>)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
							</div>							
							<div class="col-md-6">
							<button class="btn btn-success btn-sm btn-block" onclick="rem_from_cart(<%= p.id %>)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
							</div>
						</div>												
						<br>
						<div>
							<p class="text-center">total: <strong id="countb_<%= p.id %>">0</strong></p>
						</div>
					</div>
					<div class="col-md-6">	
					<br>
					<img src="<%= p.path_to_image %>" alt="<%= p.description%>" class="img-thumbnail center-block">				
					<br>
					</div>					
				</div>     
				<p><%= p.description %>
				<% if p.is_best_offer %>
					<i> (Best offer)</i>							
				<% end %>			
				</p>
			</div>
		<% end %>
	</div>
	<div class="row">	
		<div class="col-md-3 bg-primary">
			<p class="text-center"><strong>You order:</strong></p>
			<% @products.each do |p| %>
				<p><%= p.title %>: <strong id="countb2_<%= p.id %>">0</strong></p>
				<hr>
			<% end %>
			<button class="btn btn-warning" onclick="clearorder()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Clear order</button>
			<div class="text-right">
				<strong>Total: </strong><strong id="countt"></strong>
			</div>
		</div>
	</div>
</div>
<br>