<h2>Wellcome to Pizza Shop!</h2>

<div class="container">  
	<div class="row">		
		<% @products.each do |p| %>
			<% if p.id.odd? %>
				<div class="col-md-4 bg-success">	
			<% else %>
				<div class="col-md-4 bg-warning">
			<% end %>
				<h4 class="text-center"><%= p.title %></h4>
				<div class="row">
					<div class="col-md-6">	
						<ul>
  							<li>size: <%= p.size %> cm</li>
  							<li>price: <%= p.price %> rub</li>
  							<% if p.is_spicy %>
								<li><strong>spicy!</strong></li>	
							<% end %>
							<% if p.is_veg %>
								<li><strong>veg!</strong></li>	
							<% end %>
						</ul>	
						<button class="btn btn-default btn-sm btn-block" onclick="something()">Add to order</button>				
					</div>
					<div class="col-md-6">	
					<br>
					<img src="<%= p.path_to_image %>" alt="<%= p.description%>" class="img-thumbnail center-block">				
					<br>
					</div>					
				</div>     
				<p><%= p.description %>
				<% if p.is_best_offer %>
					<i> (Best offer)</i>							
				<% end %>			
				</p>
			</div>
		<% end %>
	</div>
</div>
<br>

<button class="btn btn-primary" onclick="something()">Click me!</button>
